<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>EmailSendingWebApp</display-name>

    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>user</param-name>
        <param-value>fatimzahraazennag@gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>pass</param-name>
        <param-value>fatimazahra</param-value>
    </context-param>

    <servlet>
        <servlet-name>ajouterCentre</servlet-name>
        <servlet-class>servelets.ajouterCentre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajouterCentre</servlet-name>
        <url-pattern>/ajouterCentre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>supprimerCentre</servlet-name>
        <servlet-class>servelets.supprimerCentre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>supprimerCentre</servlet-name>
        <url-pattern>/supprimerCentre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mettreAjourCentre</servlet-name>
        <servlet-class>servelets.mettreAjourCentre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mettreAjourCentre</servlet-name>
        <url-pattern>/updateCentre</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>dashBoardAdmin</servlet-name>
        <servlet-class>servelets.adminMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashBoardAdmin</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>


</web-app>